<!DOCTYPE html>
{% extends 'main/header-footer.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/sport-detail.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row center">
        <h1>{{sport.sport_name}}</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="header">How does this sport work?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>{{sport.sport_description}}</p>
        </div>
        <div class="col-sm-6">
            {% for images in images %}
                <img class="img-responsive" src="/media/{{images.image}}" alt="{{images.alt}}">
                <p class="subscript">Provided under creative commons license by <a href="{{images.image_source}}" class="subscript">{{images.image_attribute}}</a>.</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="header">How do they choose the winner?</h2>
            <p>{{sport.scoring}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="header">Who is going to win?</h2>
            <p>{{sport.favorite}}</p>
            <p>Click <a href="{{sport.rankings_url}}">here</a> to view the official rankings.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h2 class="header">When to Watch</h2>
            <p>{{sport.competition_dates | safe}}</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% if sport.locked %}
        <div class="row">
            <div class="col-sm-6">
                    <h2>Winners</h2>
                    {% for athlete in winner.gold.all %}
                        <h3>Gold winner: {{athlete.athlete_name}}</h3>
                    {% endfor %}
                    {% for athlete in winner.silver.all %}
                        <h3>Silver winner: {{athlete.athlete_name}}</h3>
                    {% endfor %}
                    {% for athlete in winner.bronze.all %}
                        <h3>Bronze winner: {{athlete.athlete_name}}</h3>
                    {% endfor %}
            </div>
            <div class="col-sm-6">
                <h2>Your Guesses</h2>
                <h3>Gold winner: {{guesses.gold}}</h3>
                <h3>Silver winner: {{guesses.silver}}</h3>
                <h3>Bronze winner: {{guesses.bronze}}</h3>
                <a href="/user/guesses/all/{{sport.slug}}/">View all guesses</a>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-6">
                <h2>Your Guesses</h2>
                <h3>Gold winner: {{guesses.gold}}</h3>
                <h3>Silver winner: {{guesses.silver}}</h3>
                <h3>Bronze winner: {{guesses.bronze}}</h3>
                <a href="#" onclick="window.open('/user/guess/{{sport.slug}}/', 'newwindow', 'width=400, height=300'); return false;">Change your guesses</a>
                
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}