<!DOCTYPE html>
{% extends 'main/header-footer.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row center">
        <div class="col-sm-12">
            {% for pages in pages %}
                <a class="about-link" href="/{{pages.slug}}/">  {{pages.title}}</a> &nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="container-fluid">
    <div class="row center">
        <div class="col-sm-6">
            <h1>What is this website?</h1>
            <p>{{about.content | safe}}</p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="/media/about-image-1.jpg">
            <div class="spacer"></div>
            <img class="img-responsive" src="/media/about-image-2.gif">
        </div>
    </div>
</div>
{% endblock %}