{% extends 'main/header-footer.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row center">
        <div class="col-sm-6">
            <h2>Contact</h2> 
            <h1>olympics@juliakuzel.com</h1> 
            <h2>to request a password reset or username information.</h2>
        </div>
        <div class="col-sm-6">
            <h3>Send the email from the email address associated with your account.</h3>
            <h3>If you did not add an email, you may need to answer some questions to verify your identity</h3>
        </div>
{% endblock %}
